.base {
    background-color: hsla(0, 0%, 75%, 0.5); /* Gray */
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promptBox {
    width: 540px;
    height: 380px;
    background-color: hsla(0, 0%, 100%, 1); /* White */
    border-radius: 8px;
    outline-color: hsla(0, 0%, 100%, 0.25);
    outline-width: 4px;
    outline-style: solid;
    overflow: hidden;
    position: relative;
    color: hsla(0, 0%, 0%, 1); /* Black */
}

.header {
    width: 100%;
    height: 3.125em;
    background-color: hsla(0, 0%, 75%, 1); /* Gray */
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(0, 0%, 100%, 1); /* White */
}

.buttonRow {
    height: 2.125em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 16px;
}

.promptButton {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.75rem 1rem;
    font-weight: 600;
    font-size: 0.85rem;
    border: 0px;
    border-radius: 4px;
}

.promptButton:focus {
    outline-color: hsla(0, 0%, 100%, 0.35);
    outline-width: 4px;
    outline-style: solid;
}

.accept {
    background-color: hsla(0, 0%, 50%, 1); /* Gray */
    color: hsla(0, 0%, 100%, 1); /* White */
}

.deny {
    background-color: hsla(0, 0%, 100%, 1); /* White */
    outline-width: 1px;
    outline-style: solid;
    outline-color: hsla(0, 0%, 0%, 0.15); /* Gray */
    color: hsla(0, 0%, 0%, 1); /* Black */
}

.filePicker {
    border: 0;
    background-color: hsla(0, 0%, 11%, 0.808); /* Dark Gray */
    border-radius: 4px;
    font-weight: 600;
    color: hsla(0, 0%, 100%, 1); /* White */
    font-size: 0.85rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.verticalSlider {
    transform: rotate(270deg);
}
